<!-- MAIN CONTENT -->

<md-content id="main" layout="vertical" layout-align="center">

<div flex="10"></div>

<div class="demo-grid-1 mdl-grid"  ng-show="dataLoaded">
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--10-col">
        <div class="device-list">
            <li class="mdl-shadow--2dp device-list-title">
                <span class="list-title-text">Groups</span>
            </li>
        </div>
        <table cellspacing="10"z>
            <tr class="mdl-shadow--2dp card-list">
                <td ng-repeat="group in groupLst">
                    <a href="#/group/{{group._id}}">
                        <div layout="row" class="card mdl-shadow--2dp">
                            <div class="body-col">
                                <h2 class="group-name">
                                    {{group.name}}
                                </h2>
                            </div>
                        </div>
                    </a>
                    <div class="group-delete-button" ng-click="removeGroup(group._id)">
                      <i class="material-icons">delete</i>
                    </div>
                </td>
            </tr>
        </table>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored add-tasks" ng-click="createGroup()">
          <i class="material-icons">add</i>
        </button>

  </div>
  <div class="mdl-cell mdl-cell--1-col"></div>
</div>



<div flex="10"></div>


</md-content>
