<md-content id="main" layout="vertical" layout-align="center">

<div flex="10"></div>

<!-- <form action="/upload-target" class="dropzone"></form> -->

<div class="demo-grid-1 mdl-grid"  ng-show="dataLoaded">
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--10-col">
        <div class="device-list">
            <li class="mdl-shadow--2dp device-list-title">
                <span class="list-title-text">Tasks</span>
            </li>
        </div>
        <table cellspacing="10"z>
            <tr class="mdl-shadow--2dp card-list">
                <td ng-repeat="task in taskLst">
                    <div>
                        <div layout="row" class="card mdl-shadow--2dp">
                            <div class="body-col">
                                <h2 class="group-name">
                                    {{task.task}}
                                </h2>
                            </div>
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect task-status">
                                <input type="checkbox" class="mdl-checkbox__input" />
                                <span class="mdl-checkbox__label" ng-checked="task.status">Completed</span>
                            </label>
                            <div class="delete-button" ng-click="removeTask(task._id)">
                              <i class="material-icons">delete</i>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored add-tasks" ng-click="createTask()">
          <i class="material-icons">add</i>
        </button>

  </div>
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--10-col">
        <div class="device-list">
            <li class="mdl-shadow--2dp device-list-title">
                <span class="list-title-text">Chat</span>
            </li>
        </div>
        <ul id="messages"></ul>
        <form action="">
          <input class="mdl-textfield__input chat-textbox" id="m" autocomplete="off" />
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent chat-button">
            Send
          </button>
        </form>
  </div>
  <div class="mdl-cell mdl-cell--1-col"></div>
</div>



<div flex="10"></div>


</md-content>
